<nav class="sidenav">
  <ul>
    <li>
      <a routerLink="/option1" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Option 1</a>
    </li>
    <li>
      <a routerLink="/option2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Option 2</a>
    </li>
    <li>
      <a routerLink="/option3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Option 3</a>
    </li>
    <li>
      <a routerLink="/flow-diagram" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Flow Diagram</a>
    </li>
  </ul>
</nav>
